# system
.DS_store

# python
__pycache__/
.ipynb_checkpoints/

# editor
.vscode/
*.code-workspace
.idea/

# files
# odlc/color-detection/cropImages/*
simulate-images/snapshots/
simulate-images/target_images/*
simulate-images/final_images/*
*.png~
*.xcf
image-splitters/images_to_examine/*


# yolo
runs/
odlc/yolo/

# mavsdk_server
mav.parm
mav.tlog
mav.tlog.raw